@tailwind utilities;

.App {
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  height: 100%;
}

.main-input {
  @apply input;
  max-width: 1150px;
  width: 100%;
  margin: 100px 20px 20px 20px;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imsisquare {
  width: 270px !important;
  height: 270px !important;
  border-radius: 10% !important;
  border: 1px solid black !important;
  background-color: white !important;
  margin: 8px 5px !important;
  color: blue !important;
}

.mainBlocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  max-width: 1200px;
  width: 100%;
  justify-content: space-around;
}
